# Dependencies
node_modules/

# Build output
dist/
.next/
next-env.d.ts
tsconfig.tsbuildinfo

# Vercel
.vercel/output/

# Local env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
*.log
*.old.tsx
*.bak
